@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #b9b3a9;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.container {
  z-index: 2;
  width: 450px;
  padding: 20px;
  margin-top: 80px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

h1 {
  text-align: center;
}

.question {
  font-weight: bold;
  margin-bottom: 10px;
}

.options {
  margin-bottom: 20px;
}

.option {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

.buttons-wrapper {
  display: inline-flex;
  flex-flow: row wrap;
  gap: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #428bca;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #3071a9;
}

.result {
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
}

.hide {
  display: none;
}

.warning {
  color: #f00;
  background-color: rgba(255, 0, 0, 0.1);
  border: 1px solid #f00;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
}

@media only screen and (max-width: 600px) {
  .container {
    margin-top: 40px;
  }

  :is(h1, .result p) {
    text-align: left;
  }
}
